body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
    text-align: center;
}

input,
button {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

img {
    width: 100%;
    margin-top: 15px;
    display: none;
}

#result {
    margin-top: 15px;
    font-size: 18px;
}